<div class="tag-cloud">
    {% include tag.html tag="all" %}
    {% capture temptags %}
        {% if page.layout == 'catpage' %}
            {% for tag in site.tags %}
                {% assign ctag = tag[1] | where: "categories", page.cat %}
                {% if ctag != empty %}
                    {{ tag[0] }}#{{ tag[1].size | plus: 1000 }}#{{ tag[1].size }}
                {% endif %}
            {% endfor %}
        {% else %}
            {% for tag in site.tags %}
            {{ tag[0] }}#{{ tag[1].size | plus: 1000 }}#{{ tag[1].size }}
            {% endfor %}
        {% endif %}
    {% endcapture %}
    {% assign sortedtemptags = temptags | split:' ' | sort %}
    {% for temptag in sortedtemptags %}
        {% assign tagitems = temptag | split: '#' %}
        {% capture tag %}{{ tagitems[0] }}{% endcapture %}
        {% include tag.html %}
    {% endfor %}
</div>