---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="About">
  <article class="post">
    <img class="about-headshot" src="/assets/headshot.PNG" alt="Photo of Ivan Chuang" />
    <h3><strong>Ivan</strong></h3>
    <p>Data scientist in the public service.</p>
  </article>
</BaseLayout>
