body {
  align-items: center;
}

hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $grey-color-light;
  margin: 30px 0;
}

.site-header {
  font-family: $base-font-family;
  width: 58%;
  padding-top: 1.5rem;
  padding-bottom: 0;
  border-top: 0px;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;

  @include media-query($on-palm) {
    width: 80%;
    font-size: $palm-font-size;
  }

  a {
    color: $text-color;
    text-decoration: none;

    &:visited {
      color: $text-color;
    }

    &:hover {
      color: $link-base-color;
      text-decoration: none;
    }
  }

  a.site-title {
    &:hover {
      color: $text-color;
      text-decoration: none;
    }
  }
}

.post-title {
  font-size: $large-font-size;
  @include media-query($on-palm) {
    font-size: $palm-large-font-size;
  }
}

// nav
.site-nav {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  font-size: $base-font-size;

  .page-link {
    color: $text-color;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      color: $link-base-color;
      text-decoration: none;
    }
  }

  @include media-query($on-palm) {
    justify-content: space-around;
  }

  @media screen and (min-width: $on-palm) {
    .page-link {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

// wrappers

.wrapper {
  display: flex;
  flex-direction: row;
  @include media-query($on-palm) {
    flex-direction: column;
  }
}

.page-content {
  flex: 1 0 auto;
  width: 58%;
  @include media-query($on-palm) {
    width: 80%;
    font-size: $palm-font-size;
  }
}

.post-content > {
  h1,
  h2,
  h3,
  h4 {
    font-size: $medium-font-size;
  }
}
// feed {
.feed > .post-item > h4 > a {
  color: $text-color;
  text-decoration: none;

  &:visited {
    color: $text-color;
  }

  &:hover {
    color: $link-base-color;
    text-decoration: none;
  }
}

// Post Items
.post-item {
  padding-bottom: $spacing-unit;
  h4 {
    margin: 0;
    padding: 0;
    font-family: $base-font-family;
  }
  p {
    margin: 0;
    padding: 0;
    font-family: $base-font-family;
    font-size: $palm-small-font-size;
  }
  a {
    color: $text-color;
  }
  a:hover {
    color: $link-base-color;
    text-decoration: none;
  }
}

.caption {
  font-size: $small-font-size;
  font-family: $base-font-family;
  color: $grey-color;
  @include media-query($on-palm) {
    font-size: $palm-font-size;
  }
}

.caption-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0.1rem;
  p {
    font-size: $small-font-size;
    font-family: $base-font-family;
    color: $grey-color;
    @include media-query($on-palm) {
      font-size: $palm-small-font-size;
    }
  }
}

// tags
.tag-cloud {
  font-size: $small-font-size * 0.825;
  display: flex;
  flex-wrap: wrap;
  a:hover {
    color: #4682b4;
    text-decoration: underline;
  }
  a {
    margin-bottom: 4px;
    margin-right: 4px;
  }
  margin-bottom: 3em;
  @include media-query($on-palm) {
    font-size: $palm-font-size * 0.825;
  }
}

.tag {
  font-size: $tiny-font-size;
  color: $tag-base-color;
  background-color: $tag-background-color;
  &:hover {
    color: $tag-hover-color;
    text-decoration: underline;
  }
}

.tag-header {
  color: $tag-base-color;
  background-color: $tag-background-color;
  @include relative-font-size(1.4);
}

.post-meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  p {
    font-size: $small-font-size;
    font-family: $header-font-family;
    color: $grey-color;
  }
  a {
    color: $tag-base-color;
  }

  a:hover {
    color: $tag-background-color;
    text-decoration: none;
  }
}

// post content

.post {
  a {
    color: $link-base-color;
    &:hover {
      color: $link-hover-color;
    }
  }
}

// figures

figcaption {
  font-size: $tiny-font-size;
  font-family: $header-font-family;
  color: $grey-color;
  text-align: center;
}

figure > img {
  max-height: 400px;
  margin: 0 auto;
}

// footnotes

.footnotes {
  font-size: $small-font-size;
}

// summary pop-up

summary {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  &::before {
    background: url("data:image/svg+xml, <svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👉</text></svg>")
      center no-repeat;
    display: inline-block;
    content: " ";
    width: 32px;
    height: 32px;
    margin-right: 0.5em;
  }
  background-color: mistyrose;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.3em 1em;
  h4 {
    font-weight: 700;
    font-size: $base-font-size !important;
    padding: 0 !important;
    margin: 0 !important;
    @include media-query($on-palm) {
      font-size: $palm-small-font-size !important;
    }
  }
  &::marker,
  &::-webkit-details-marker {
    display: none;
    content: "";
  }
  &:focus {
    outline: 0;
  }
}

details[open] {
  summary {
    &::marker,
    &::-webkit-details-marker {
      display: none;
      content: "";
    }
    display: flex;
    align-items: center;
    &::before {
      background: url("data:image/svg+xml, <svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👇</text></svg>")
        center no-repeat;
      display: inline-block;
      content: " ";
      width: 32px;
      height: 32px;
      margin-right: 0.5em;
    }
    background-color: transparent;
  }
  p {
    border-left: 4px solid mistyrose;
    margin-left: 2em;
    padding-left: 1em;
    margin-top: 1em;
  }
}

// block quote

blockquote {
  border-left: 4px solid mistyrose;
  letter-spacing: 0;
  p {
    font-size: $small-font-size;
    font-family: $header-font-family;
    color: $text-color;
    font-style: normal;
    @include media-query($on-palm) {
      font-size: $small-font-size;
    }
  }
}

// shared tweet

.twitter-tweet-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

// footer
.site-footer {
  font-family: $header-font-family;
  width: 58%;
  @include media-query($on-palm) {
    width: 80%;
  }

  ul.social-media-list > li > a {
    color: $grey-color !important;
    &:hover {
      color: $link-base-color !important;
      span {
        text-decoration: none;
      }
      svg {
        fill: $link-base-color;
      }
    }
  }
}

.footer-col {
  width: calc(50% - (#{$spacing-unit} / 2));
  font-size: $small-font-size;
  @include media-query($on-palm) {
    width: 100%;
    font-size: $palm-small-font-size;
  }
}

.footer-col-right {
  text-align: right;
}


.journal-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journal-post-title {
  font-size: $base-font-size !important;
  padding-bottom: calc($spacing-unit / 2);
}

.journal-post-content {
  font-size: $small-font-size !important;
  hr {
    margin: 30px 1rem;
  }
}

.journal-post-footer {
  display: flex;
  font-size: $tiny-font-size;
  align-self: end;
}

.journal-post-break {
  font-size: $small-font-size;
  margin-top: 1rem;
}