// font variables
$base-font-family: "Inconsolata", serif;
$header-font-family: "Source Serif Pro", sans-serif;

$large-font-size: $base-font-size * 2;
$medium-font-size: $base-font-size * 1.6;
$medium-small-font-size: $base-font-size * 1.2;
$tiny-font-size: $small-font-size * 0.875;

$palm-font-size: $base-font-size;
$palm-small-font-size: $palm-font-size * 0.875;
$palm-tiny-font-size: $palm-small-font-size * 0.875;
$palm-large-font-size: $small-font-size * 1.6;

$grey-color: #888;
$link-base-color: #fe8019 !default;
$link-visited-color: darken($link-base-color, 10%) !default;
$link-hover-color: #d65d0e !default;

$tag-base-color: #4682b4;
$tag-hover-color: #4682b4;
$tag-background-color: #f5f5f5;
