// font variables
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway&display=swap');

$base-font-family: 'Merriweather', serif;
$header-font-family: 'Raleway', sans-serif;

$large-font-size: $base-font-size * 2;
$medium-font-size: $base-font-size * 1.6;
$tiny-font-size: $small-font-size * 0.875;

$palm-font-size: $base-font-size * 0.875;
$palm-small-font-size: $palm-font-size * 0.875;
$palm-tiny-font-size: $palm-small-font-size * 0.875;
$palm-large-font-size: $small-font-size * 1.6;

$grey-color: #888;
$link-base-color:       #fe8019 !default;
$link-visited-color:    darken($link-base-color, 10%) !default;
$link-hover-color:      #d65d0e !default;

$tag-base-color: #4682B4;
$tag-hover-color: #4682B4;
$tag-background-color: #eee;
