// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.home {
    @include media-query($on-palm) {
        h1 {
            font-size: 24px;
        }
    }
}

.site-header {
    font-family: 'Raleway', serif;
}

.site-footer {
    font-family: 'Raleway', serif;
}

.caption {
    font-size: $small-font-size;
    font-family: 'Raleway', serif;
    color: #888;
    @include media-query($on-palm) {
        font-size: 12px;
    }
}

.caption-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    p {
        font-size: $small-font-size;
        font-family: 'Raleway', serif;
        color: #888;
        @include media-query($on-palm) {
            font-size: 12px;
        }
    }
}

.post-item {
    padding-bottom: $spacing-unit;

    h4,p {
        margin: 0;
        padding: 0;
    }

    a {
        color: $text-color;
    }

    a:hover {
        color: $link-base-color;
        text-decoration: none;
      }
}

.tag-cloud {
    font-size: $small-font-size;
    display: flex;
    flex-wrap: wrap;
    a:hover {
        color: #4682B4;
        text-decoration: underline;
    }
    a {
        margin-bottom: 4px;
        margin-right: 4px;
    }
    margin-bottom: 3em;
    @include media-query($on-palm) {
        font-size: 12px;
    }
}

.tag {
    color: #4682B4;
    background-color: #eee;
    &:hover {
        color: #4682B4;
        text-decoration: underline;
    }
}

.tag-header {
    color: #4682B4;
    background-color: #eee;
}

.post-meta {
    display: flex;
    flex-direction: row;
    p {
        font-size: $base-font-size;
        font-family: 'Raleway', serif;
        color: #888;
    }
    a {
        color: #4682B4;
    }

    a:hover {
        color: #4682B4;
        text-decoration: none;
      }
}

summary {
    &:hover {
        cursor: pointer;
    }
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: .5em;
    margin-bottom: .5em;
    background-color: mistyrose;
    border-radius: 4px;
    list-style: none;
    font-weight: 700;
    &::before {
        content: "👉";
        font-size: 28px;
        padding: 0 .4em 0 .4em;
    }
    &::marker {
        display: none;
        content: "";
    }
    &::-webkit-details-marker {
        display: none;
    }
}

details[open] {
    summary{
        &::before {
            content: "👇";
            font-size: 28px;
            padding: 0 .4em 0 .4em;
        }
        background-color: transparent;
        &::marker {
            display: none;
            content: "";
        }
        &::-webkit-details-marker {
            display: none;
        }
        list-style: none;
    }
    p {
        border-left: 4px solid mistyrose;
        margin-left: 1.8em;
        padding-left: 1em;
    }
}