// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.home {
    @include media-query($on-palm) {
        h1 {
            font-size: 24px;
        }
    }
}

.site-header {
    font-family: 'Raleway', sans-serif;
}

.site-footer {
    font-family: 'Raleway', sans-serif;
}

.caption {
    font-size: $small-font-size;
    font-family: 'Raleway', serif;
    color: #888;
    @include media-query($on-palm) {
        font-size: $palm-font-size * .725;
    }
}

.caption-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    p {
        font-size: $small-font-size;
        font-family: 'Raleway', serif;
        color: #888;
        @include media-query($on-palm) {
            font-size: $palm-font-size * .725;
        }
    }
}

.post-item {
    padding-bottom: $spacing-unit;

    h4,p {
        margin: 0;
        padding: 0;
    }

    a {
        color: $text-color;
    }

    a:hover {
        color: $link-base-color;
        text-decoration: none;
      }
}

.tag-cloud {
    font-size: $small-font-size;
    display: flex;
    flex-wrap: wrap;
    a:hover {
        color: #4682B4;
        text-decoration: underline;
    }
    a {
        margin-bottom: 4px;
        margin-right: 4px;
    }
    margin-bottom: 3em;
    @include media-query($on-palm) {
        font-size: $palm-font-size * .725;
    }
}

.tag {
    color: steelblue;
    background-color: #eee;
    &:hover {
        color: steelblue;
        text-decoration: underline;
    }
}

.tag-header {
    color: steelblue;
    background-color: #eee;
    @include relative-font-size(1.4);
}

.post-meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    p {
        font-size: $small-font-size;
        font-family: 'Raleway', serif;
        color: #888;
    }
    a {
        color: #4682B4;
    }

    a:hover {
        color: #4682B4;
        text-decoration: none;
      }
}

summary {
    display: flex;
    align-items: center;
    &::before {
        background: url("data:image/svg+xml, <svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👉</text></svg>") center no-repeat;
        display: inline-block;
        content: " ";
        width: 32px;
        height: 32px;
        margin-right: .5em;
    }
    background-color: mistyrose;
    border-radius: 4px;
    cursor: pointer;
    padding: .3em 1em;
    h4 {
        font-weight: 700;
        font-size: $base-font-size !important;
        padding: 0 !important;
        margin: 0 !important;
        @include media-query($on-palm) {
            font-size: $palm-font-size *.875 !important;
        }
    }
    &::marker, &::-webkit-details-marker {
        display: none;
        content: "";
    }
    &:focus {
        outline: 0;
    }
}

details[open] {
    summary{
        &::marker, &::-webkit-details-marker {
            display: none;
            content: "";
        }
        display: flex;
        align-items: center;
        &::before {
            background: url("data:image/svg+xml, <svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👇</text></svg>") center no-repeat;
            display: inline-block;
            content: " ";
            width: 32px;
            height: 32px;
            margin-right: .5em;
        }
        background-color: transparent;
    }
    p {
        border-left: 4px solid mistyrose;
        margin-left: 1em;
        padding-left: 1em;
        margin-top: 1em;
    }
}

blockquote {
    border-left: 4px solid mistyrose;
    p {
        font-size: $base-font-size * .875;
        font-family: 'Raleway', sans-serif;
        color: $text-color;
        font-style: normal;
        @include media-query($on-palm) {
            font-size: 14px;
        }
    }
}