---
layout: default
---

<article class="post">
    {% assign post_count = site.categories[page.category] | size %}
    {% assign post_content = post.content | strip_newlines %}
    <header class="post-header">
        {% if page.headerless %}
        {% else %}
        <h1 class="post-title">{% if page.icon %}{{page.icon}}&ensp;{% endif %}{{ page.title | escape }} ({{post_count}})</h1>
        {% endif %}
      </header>

    {% if post.content != "" %}
        {{content}}
    {% endif %}

    {% include tag-cloud.html %}
    
    
    <div class="post-content feed">
        {% for post in site.posts %}
            {% if post.categories contains page.category %}
                {% include post-entry.html %}
            {% endif %}
        {% endfor %}
    </div>
  
</article>