---
layout: default
---

<article class="post">
  {% assign post_count = site.categories[page.category] | size %} {% assign
 post_content = post.content | strip_newlines %}
  <header class="post-header">
    {% if page.headerless %}
      {% else %}
        <h1 class="post-title">
          {% if page.icon %}
            {{ page.icon }}&ensp;{% endif %}
          {{ page.title | escape }}
        </h1>
    {% endif %}
  </header>

  {% if post.content != "" %}
    {{ content }}
  {% endif %}
  {% include tag-cloud.html %}
  <hr/>
  <div>
    <ul class="post-list">
    {% for post in site.posts limit:4 %}
      {% if post.categories contains page.category %}
      <li>
        {% include journal-entry.html content=post.content title=post.title tags=post.tags date=post.date %}
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
  <div class="lds-spinner"></div>
</article>
