---
layout: default
---

<article class="post">
    {% assign post_count = site.tags[page.tag] | size %}

    <header class="post-header">
      {% if page.headerless %}
      {% else %}
      <h1 class="post-title">{% if page.icon %}{{page.icon}}&ensp;{% endif %}Tag: <code class="tag-header">{{page.tag | replace: '-',' '}}</code> ({{post_count}})</h1>
      {% endif %}
    </header>

    {% include tag-cloud.html %}
  
    <div class="post-content">
        {% for post in site.tags[page.tag] %}
            {% include post-entry.html %}
        {% endfor %}
    </div>
  
</article>